.container {
  height: 100vh;
  width: 100vw;
  background-color: #F0F2F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2C3E50;
  margin-bottom: 1rem;
}

form select, button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form button {
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.1s ease-in;
}

button:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-in;
}